<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Spirit_Island_Card_Generator.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Spirit_Island_Card_Generator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Spirit_Island_Card_Generator.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Spirit_Island_Card_Generator.AppSettings>
            <setting name="CardOutputDir" serializeAs="String">
                <value>D:\Spirit Island</value>
            </setting>
            <setting name="StableDiffusionUrl" serializeAs="String">
                <value>http://127.0.0.1:7860</value>
            </setting>
            <setting name="CSSPath" serializeAs="String">
                <value>D:\Spirit Island\spirit-island-template-master</value>
            </setting>
        </Spirit_Island_Card_Generator.AppSettings>
        <Spirit_Island_Card_Generator.Settings>
            <setting name="CardOutputDir" serializeAs="String">
                <value>D:\Spirit Island</value>
            </setting>
            <setting name="StableDiffusionUrl" serializeAs="String">
                <value>http://127.0.0.1:7860</value>
            </setting>
        </Spirit_Island_Card_Generator.Settings>
        <Spirit_Island_Card_Generator.Settings1>
            <setting name="CardOutputDir" serializeAs="String">
                <value>D:\Spirit Island</value>
            </setting>
            <setting name="StableDiffusionPath" serializeAs="String">
                <value />
            </setting>
        </Spirit_Island_Card_Generator.Settings1>
    </userSettings>
</configuration>